#wordleGrid{
    width: 400px;
    height: 480px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.square{
    width: 80px;
    height: 80px;
    border: 4px black;
    background-color: chartreuse;
}